.items
  padding-top: 100px
  &-block
    margin-top: 45px
    &__points
      display: flex
      flex-direction: row
      flex-wrap: wrap
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
    &__point
      margin-right: 25px
      display: flex
      flex-direction: row
      align-items: center
      padding: 8px 11px 8px 11px
      border: 1px solid #fff
      cursor: pointer
      span
        margin-right: 20px
        font-family: 'Montserrat', sans-serif
        font-size: 20px
        line-height: 27px
        color: #000
      &:last-child
        margin-right: 0
.hide
  display: none
